<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Weather Conditions</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>

<body>
    <h1>Get Violations</h1>

    <form action="/violations">
        <div>Fill out as many fields as possible:</div>
        <input type="text" name="housenumber" id="housenumber" placeholder="Enter a house number" />

        <input type="text" name="streetname" id="streetname" placeholder="Enter a street name" />

        <input type="text" name="boro" id="boro" placeholder="Enter a boro" />
        <button type="submit">Submit</button>
        
        

    </form>
</body>

</html>